In [4]:
import pandas as pd
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['education'] = le.fit_transform(df['education'])

In [6]:
df = pd.get_dummies(df, columns=['marital-status', 'relationship', 'race', 'gender'])

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
num_cols = ['age', 'capital-gain', 'hours-per-week']
df[num_cols] = scaler.fit_transform(df[num_cols])

In [8]:
# This shows the first few rows of your new, encoded, and scaled data
print("Processed Data Preview:")
print(df.head())

# This confirms the new data types and that scaling worked
print("\nData Summary:")
print(df.describe())

Processed Data Preview:
        age  workclass  fnlwgt  education  educational-num         occupation  \
0 -0.995129    Private  226802          1                7  Machine-op-inspct
1 -0.046942    Private   89814         11                9    Farming-fishing
2 -0.776316  Local-gov  336951          7               12    Protective-serv
3  0.390683    Private  160323         15               10  Machine-op-inspct
4 -1.505691          ?  103497         15               10                  ?

   capital-gain  capital-loss  hours-per-week native-country  ...  \
0     -0.144804             0       -0.034087  United-States  ...
1     -0.144804             0        0.772930  United-States  ...
2     -0.144804             0       -0.034087  United-States  ...
3      0.886874             0       -0.034087  United-States  ...
4     -0.144804             0       -0.841104  United-States  ...

  relationship_Own-child  relationship_Unmarried  relationship_Wife  \
0                   True                   False              False
1                  False                   False              False
2                  False                   False              False
3                  False                   False              False
4                   True                   False              False

   race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  race_Black  race_Other  \
0                    False                    False        True       False
1                    False                    False       False       False
2                    False                    False       False       False
3                    False                    False        True       False
4                    False                    False       False       False

   race_White  gender_Female  gender_Male
0       False          False         True
1        True          False         True
2        True          False         True
3       False          False         True
4        True           True        False

[5 rows x 31 columns]

Data Summary:
                age        fnlwgt     education  educational-num  \
count  4.884200e+04  4.884200e+04  48842.000000     48842.000000
mean   2.281092e-16  1.896641e+05     10.288420        10.078089
std    1.000010e+00  1.056040e+05      3.874492         2.570973
min   -1.578629e+00  1.228500e+04      0.000000         1.000000
25%   -7.763164e-01  1.175505e+05      9.000000         9.000000
50%   -1.198790e-01  1.781445e+05     11.000000        10.000000
75%    6.824334e-01  2.376420e+05     12.000000        12.000000
max    3.745808e+00  1.490400e+06     15.000000        16.000000

       capital-gain  capital-loss  hours-per-week
count  4.884200e+04  48842.000000    4.884200e+04
mean   1.047440e-17     87.502314    4.466169e-17
std    1.000010e+00    403.004552    1.000010e+00
min   -1.448035e-01      0.000000   -3.181452e+00
25%   -1.448035e-01      0.000000   -3.408696e-02
50%   -1.448035e-01      0.000000   -3.408696e-02
75%   -1.448035e-01      0.000000    3.694214e-01
max    1.327438e+01   4356.000000    4.727312e+00

In [9]:
#  Save processed dataset
df.to_csv('processed_adult_income.csv', index=False)
print("File saved successfully as 'processed_adult_income.csv'")

File saved successfully as 'processed_adult_income.csv'